@import "../../style/variables";
@import "../../style/mixin";

.btn {
  @include btn;
  @include btn-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-regular,
    $border-radius
  );
}

.btn-large {
  @include btn-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $border-radius-lg
  );
}

.btn-default {
  @include btn-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-regular,
    $border-radius
  );
  @include btn-style(
    var(--color-fill-0),
    var(--color-fill-0),
    var(--color-text-0),
    var(--color-default-hover),
    var(--color-default-hover),
    var(--color-text-0)
  );
}

.btn-small {
  @include btn-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $border-radius-sm
  );
}

.btn-primary {
  @include btn-style(
    var(--color-primary),
    var(--color-primary),
    var(--color-white),
    var(--color-primary-hover),
    var(--color-primary-hover),
    var(--color-white)
  );
}

.btn-danger {
  @include btn-style(
    var(--color-danger),
    var(--color-danger),
    var(--color-white),
    var(--color-danger-hover),
    var(--color-danger-hover),
    var(--color-white)
  );
}

.btn-link {
  color: var(--color-link);
  text-decoration: linen;
  &:hover {
    color: var(--color-link-hover);
  }

  &.disabled {
    color: var(--color-disabled-text);
  }
}

.loading {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.35;
    background: var(--color-white); // 加上白色遮照 opacity
    inset: -1px;
    pointer-events: none;
    z-index: 1;
  }
}

.pin {
  animation: pin 1.5s infinite linear; // 以线性方式持续不断的旋转
}

@keyframes pin {
  from {
    transform: rotate(0);
  }
  to {
    // 相当于旋转360度
    transform: rotate(359deg);
  }
}
